*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    
    width: 100%;
    height: 100vh;
    padding: 20px;
    margin: 20px;
    
}
.main-header{
    text-align: center;
    padding-bottom: 20px;
}

img{
    width: 100%;
}

.photo-gallery{
   width: 100%;
   margin: auto;
   
   display: grid;
   grid-template-columns: repeat(4, auto);
   grid-template-rows: repeat(2, auto);
   grid-gap: 9px ;
   grid-auto-flow: column;
}
.img1{
    
}
@media only screen and (max-width: 800px) {
    .photo-gallery {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(8, auto);
        width: 80%;
    }
  }


